body {
  margin: 0px;
  padding: 0px;
  background-color: #141414;
  color: aliceblue;
}

form > div {
  /* border: 3px solid red; */
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userName {
  margin-bottom: 10px;
  outline: none;
}

input[type="submit"] {
  background-color: purple;
  color: aliceblue;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.item {
  text-align: center;
  box-shadow: 0px 0px 10px purple;
  width: 300px;
  margin:0px auto;
}